#>>> What to ignore when pushing to repository
#
#
#
*.swp
myScripts/
postPrcs/extractStats/plotting/
postPrcs/extractStats/tempData/*
postPrcs/extractStats/statsResults/*
postPrcs/ppNekOutData/SESSION.NAME
postPrcs/ppNekOutData/obj/
postPrcs/ppNekOutData/ZSTAT/
postPrcs/ppNekOutData/UV_turbPipe_post0.f00001
postPrcs/ppNekOutData/WP_turbPipe_post0.f00001
postPrcs/ppNekOutData/st1turbPipe_post0.f00001
postPrcs/ppNekOutData/st2turbPipe_post0.f00001
postPrcs/ppNekOutData/turbPipe_post.f
postPrcs/ppNekOutData/post2d.log
postPrcs/ppNekOutData/nek5000
postPrcs/ppNekOutData/makefile
postPrcs/ppNekOutData/compiler.out

compile/obj/
compile/compiler.out
compile/makefile
compile/turbPipe.f
compile/.state

run/logfile
run/nek5000
run/sts*
run/turbPipe0.f*
run/rs8*
run/SESSION.NAME
run/turbPipe.restart


