#>>> What to ignore when pushing to repository
#
#
#
*.swp
#v.17
turbPipe_v17/myScripts/
turbPipe_v17/postPrcs/extractStats/plotting/
turbPipe_v17/postPrcs/extractStats/tempData/*
turbPipe_v17/postPrcs/extractStats/statsResults/*
turbPipe_v17/postPrcs/ppNekOutData/SESSION.NAME
turbPipe_v17/postPrcs/ppNekOutData/obj/
turbPipe_v17/postPrcs/ppNekOutData/ZSTAT/
turbPipe_v17/postPrcs/ppNekOutData/UV_turbPipe_post0.f00001
turbPipe_v17/postPrcs/ppNekOutData/WP_turbPipe_post0.f00001
turbPipe_v17/postPrcs/ppNekOutData/st1turbPipe_post0.f00001
turbPipe_v17/postPrcs/ppNekOutData/st2turbPipe_post0.f00001
turbPipe_v17/postPrcs/ppNekOutData/turbPipe_post.f
turbPipe_v17/postPrcs/ppNekOutData/post2d.log
turbPipe_v17/postPrcs/ppNekOutData/nek5000
turbPipe_v17/postPrcs/ppNekOutData/makefile
turbPipe_v17/postPrcs/ppNekOutData/compiler.out
turbPipe_v17/compile/obj/
turbPipe_v17/compile/compiler.out
turbPipe_v17/compile/makefile
turbPipe_v17/compile/turbPipe.f
turbPipe_v17/compile/.state
turbPipe_v17/run/logfile
turbPipe_v17/run/nek5000
turbPipe_v17/run/sts*
turbPipe_v17/run/turbPipe0.f*
turbPipe_v17/run/rs8*
turbPipe_v17/run/SESSION.NAME
turbPipe_v17/run/turbPipe.restart
#
#v.19
turbPipe_v19/pp_python/*.pyc
turbPipe_v19/pp_python/__pycache__
turbPipe_v19/pp_python/int*
turbPipe_v19/pp_python/MODULES/__init__.*
turbPipe_v19/pp_python/OUTPUT/*.txt
turbPipe_v19/pp_python/MODULES/*.pyc
turbPipe_v19/pp_nek/build.log
turbPipe_v19/pp_nek/int_*
turbPipe_v19/pp_nek/logfile
turbPipe_v19/pp_nek/obj
turbPipe_v19/pp_nek/st1turbPipe0*
turbPipe_v19/pp_nek/st2turbPipe0*
turbPipe_v19/pp_nek/turbPipe.log*
turbPipe_v19/pp_nek/DATA/ststurbPipe0*
turbPipe_v19/pp_nek/DATA/c2D*
turbPipe_v19/pp_nek/DATA/int_pos
turbPipe_v19/pp_nek/nek5000
turbPipe_v19/pp_nek/*.nek5000
turbPipe_v19/pp_nek/*.ma2
turbPipe_v19/pp_nek/*.re2
turbPipe_v19/pp_nek/*.msh
turbPipe_v19/pp_nek/SESSION.NAME

